@model AppUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="mediabalans" />
    <title>Giriş - LiveExamSystem</title>
    <link href="~/assets-cms/lib/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="~/assets-cms/css/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/assets-cms/img/favicon.png" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js" crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-xl px-4">
                    <div class="row justify-content-center">
                        <div style="display: block;" id="login" class="col-lg-5">
                            <!-- Basic login form-->
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header justify-content-center"><h3 class="fw-light my-4">Giriş</h3></div>
                                <div class="card-body">
                                    <!-- Login form-->
                                    <form asp-action="Index" asp-antiforgery="true" asp-route-returnUrl="@ViewBag.ReturnUrl">
                                        <!-- Form Group (email address)-->
                                        <div class="mb-3">
                                            <label class="small mb-1" asp-for="Email">Email</label>
                                            <input class="form-control" asp-for="Email" type="email" placeholder="Email adresinizi girin" />
                                        </div>
                                        <!-- Form Group (password)-->
                                        <div class="mb-3">
                                            <label class="small mb-1" asp-for="Password">Şifre</label>
                                            <input class="form-control" asp-for="Password" type="password" placeholder="Şifrenizi girin" />
                                        </div>
                                        <!-- Form Group (login box)-->
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <button type="submit" class="btn btn-primary">Giriş yap</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="#" onclick="openRegister()">Hesabın yok mu? Hemen kaydol!</a></div>
                                </div>
                            </div>
                        </div>
                        <div style="display: none;" id="register" class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header justify-content-center"><h3 class="fw-light my-4">Hesap Oluştur</h3></div>
                                <div class="card-body">
                                    <form asp-action="Register" asp-antiforgery="true">
                                        <div class="row gx-3">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="small mb-1" asp-for="FirstName">Ad</label>
                                                    <input class="form-control" asp-for="FirstName" type="text" placeholder="Adınızı girin">
                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="small mb-1" asp-for="LastName">Soyad</label>
                                                    <input class="form-control" asp-for="LastName" type="text" placeholder="Soyadınızı girin">
                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="small mb-1" asp-for="Email">Email</label>
                                            <input class="form-control" asp-for="Email" type="email" aria-describedby="emailHelp" placeholder="Email adresinizi girin">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="row gx-3">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="small mb-1" asp-for="Password">Şifre</label>
                                                    <input class="form-control" asp-for="Password" type="password" placeholder="Şifrenizi girin">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label class="small mb-1" asp-for="PasswordAgain">Şifre Tekrar</label>
                                                    <input class="form-control" asp-for="PasswordAgain" type="password" placeholder="Şifrenizi tekrar girin">
                                                    <span asp-validation-for="PasswordAgain" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Hesap Oluştur</button>
                                    </form>
                                </div>
                                <div class="card-footer text-center">
                                    <div class="small"><a href="#" onclick="openLogin()">Hesabın var mı? Giriş yap!</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="footer-admin mt-auto footer-dark">
                <div class="container-xl px-4">
                    <div class="row">
                        <div class="col-md-6 small">Copyright &copy; LiveExamSystem @DateTime.Now.Year</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script>
        function openRegister()
        {
            document.getElementById("login").style.display = "none";
            document.getElementById("register").style.display = "block";
        }

        function openLogin()
        {
            document.getElementById("login").style.display = "block";
            document.getElementById("register").style.display = "none";
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/assets-cms/lib/toastr/build/toastr.min.js"></script>
    @{ await Html.RenderPartialAsync("_MessagesModal"); }
    <script src="~/assets-cms/js/scripts.js"></script>    
</body>
</html>
